<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">

    <title> Weather</title>
    <link rel="icon" href="/img/test.jpeg">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use This site to get your weather</p>

        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>


</html>